<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POCs</title>
    <link rel="stylesheet" href="../public/stylesheets/style_index.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../dist/bundle.js"></script>
</head>
<body>
<div id="content" class="container">

    <div>
        <h1>Hello, Мир</h1>
        <p id="first_p"></p>
    </div>
    <div class="container" style="width: 50%; margin-top: 50px; margin-bottom: 20px">
        <form>
            <div class="form-group">
                <label for="search-input">Get element name</label>
                <input id="search-input" type="text" class="form-control">
            </div>
            <button id="start-search" class="btn btn-default" type="button">Search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Audio record and playback</h3>
        </div>
        <div class="col-sm-6">
            <button id=startRecord type="button" class="btn btn-info">start</button>
            <button id=stopRecord type="button" class="btn btn-info" disabled>stop</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <audio id=recordedAudio>Record</audio>
            <br>
            <!--<a id=audioDownload></a>-->
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px ">
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary">kek</button>
            <button type="button" class="btn btn-primary">b1</button>
            <button type="button" class="btn btn-primary">b2</button>
            <button type="button" class="btn btn-primary">b2</button>
            <button type="button" class="btn btn-primary" onclick=alert('Hello')>click</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px ">
        <div class="col-sm-6">
            <a href="#" class="btn btn-success" role="button">Kek</a>
            <a href="#" class="btn btn-success">l1</a>
            <a href="https://www.w3schools.com/jsref/event_onclick.asp" class="btn btn-success" role="button">l2</a>
            <a href="" class="btn btn-success">L1</a>
            <a href="#" id="click1" class="btn btn-success" role="button">click1</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px ">
        <div class="col-sm-6">
            <input class="btn btn-danger" type="button" value="i1">
            <input class="btn btn-danger" type="button" value="kek">
            <input class="btn btn-danger" type="button" value="i2">
            <input class="btn btn-danger" type="button" value="i1">
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px ">
        <div class="col-sm-6">
            <ul>
                <li class="btn btn-warning list-inline">kek</li>
                <li class="btn btn-warning list-inline">li1</li>
                <li class="btn btn-warning list-inline">li2</li>
                <li class="btn btn-warning list-inline">li1</li>
                <li class="btn btn-warning list-inline">li3</li>
            </ul>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label id="l1" for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
            <label><input type="checkbox"> kek</label>
            <label><input type="checkbox"> kek</label>
        </div>
        <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Option 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Option 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Option 3
        </label><br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>